@model CRUDCORE.Models.Cargo
@{
    ViewData["Title"] = "Cargo_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cargos</h1>

<div class="row">
    <div class=" col-sm-4">
        <form asp-action="Cargo_Detalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="@Model.IdCargo" />
            <div class=" mb-2">
                <label class=" form-label" asp-for="@Model.Descripcion">Nuevo Cargo</label>
                <input class=" form-control" asp-for="@Model.Descripcion" type="text" />
            </div>
            
            <div class=" mb-2">
               
                <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                
                
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>
            </div>



        </form>
    </div>
</div>

